*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}



.btn-color-orange{
    background-color: #F05A2D;
    color: #fff;
}


.btn-color-blue{
    background-color: #18374F;
}

.enquiry-form{
    background-color: #F05A2D;
    color: #fff;
    padding: 35px;
}

#navbarSupportedContent{
    justify-content: flex-end;
    column-gap: 3rem;
}

#navbarSupportedContent .navbar-nav{
    column-gap: 3rem;
}

.navbar-ul{
    justify-content: space-around!important;
}



.hero-section-title{
    font-size: 3rem;
}
.hero-section-text{
   /*  top: 25%;
    left: 0; */
    background-image: url('./src/Background-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-section-inner-container{
    padding: 40px 0;
    row-gap: 1rem;
    background-image: linear-gradient(0deg, rgba(24, 55, 79, 0.41),
    rgba(24, 55, 79, 1));
    align-items: center;
}

.hero-section-bba-heading{
    border-bottom: 3px solid #F05A2D;
}


.margin-auto{
    margin-inline:auto;
}

input{
    margin:10px auto
}

.form-buttons{
    margin-top: 30px;
}

.percentage-data{
    background-image: linear-gradient(#f05a2d,#fff3ef);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 75px;
    font-weight: 800;
    margin-bottom: 0 ;
}

.percentage-container{
    background-color: #FFF3EF;
    padding: 40px 0;
}

/* Explore programs -- Info and image section */


.exp-sec-heading-container{
    background-color: #18374F;
    color: #fff;
    font-weight: 700;
    padding: 1.4%;
    margin: 4% auto ;
}

.explore-program-section{
    width:90%;
    margin: 0 auto;
}

.exp-btns-container{
    margin: 0 auto;
    gap: 1rem;
}

.exp-btn{
    border-radius:20px;
    border-color: grey;
    background-color: white;
    color: grey;
}

.exp-btn:focus{
    border-color: #F05A2D;
    color: #F05A2D;
}

.info-title{
    color: #BA4717;
}

.color-blue{
    color: #18374F;
}

.info-sub-title{
    font-weight: 700;
}

.info-list{
    font-size: 15px;
}

.info-img-container
{   display: flex;
    column-gap: 1.5rem;
}

.info-container{
    background-color: #FAF9F9;
    width: 50%;
}

.img-container{
    width: 46%;
}

.img-container .img-fluid{
    height: -webkit-fill-available;
}

.img-container-2{
    width: 52%;
}


.info-small-container{
    width: 44%
}

.info-small-col{
    height: 45%;
    background-color: rgba(150, 209, 255, 0.12);
}


.elig-list li {
    list-style-type: none ;
    margin: 5px;
}


.courses-highlights{
    background: #FFE8E1;
    width: 90%; 
}

.ch-main-container{
    row-gap:20px;
}

.ch-container{
    border: 1px solid #F05A2D;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px 0;
    width: 54%;
}


/* ||  Life at Campus section   */

.campus-gallery{
    width: 90%;
}

.carousel-control-prev, .carousel-control-next{
    display: none;
}

.carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-inline: 5px;
}

.carousel-inner{
    padding-bottom: 40px;
}

.carousel-indicators .active{
    background-color: #F05A2D;
}


/* ||  Recruiter Section */

.recruiters-section{
    width: 90%;
}






/* || FAQ SECTION  */

.faqs-section{
    width: 70%;
}



.que-ans{
    position: relative;
}

.que-ans .question .down-arrow svg{
    transform: rotate(-90deg);
}

.que-ans[open] .question .down-arrow svg{
    transform: rotate(0deg);
}

.question{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
}

.que-ans summary::marker{
    content: ''
}


details summary::-webkit-details-marker {
    display:none;
  }



.footer-section{
    background: #18374F;
    padding-bottom: 40px;
}

.social-col{
    display: grid;
    grid-template-columns: repeat(5, 41px);
    column-gap: 3px;
}





/*  ||    Input email and button*/


.footer-input{
    background: #fff;
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 14px;
    width: 100%;
  }
  
  .footer-input:focus {
    outline: none;
  }
  
  .footer-input::placeholder {
    color: grey;
  }
  
  .footer-submit-btn {
    background: #F05A2D;
    border: 0;
    border-radius: 7px;
    color: white;
    padding: 10px;
    position: absolute;
    right: 5px;
    bottom: 14px;
  }
  
  .footer__submit {
    position: relative;
    display: inline-block;
    width: 70%;
  }

@media screen and (max-width: 600px){
    .percentage-container{
        flex-direction: column;
    }

    .info-img-container{
        flex-direction: column;
        width: 100%;
    }
    .img-container{
        width: 100%;
    }
    .img-container-2{
        width: 100%;
    }
    .info-small-container{
        width: 100%;
        margin-top: 20px;
    }

    .info-small-col:nth-child(:first-child){
        padding: 20px 0 40px 0;
    }

    .info-container{
        width: 100%;
    }
}