@import url('https://fonts.googleapis.com/earlyaccess/opensanshebrew.css');
@import url('https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css');
@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: 'Open Sans Hebrew', 'Open Sans' ;
    overflow-x: hidden;

}

:root {
    /* || COLOR */
    --LIGHT-CLR: #F05A2D;
    --DARK-CLR: #18374F;
    --INFOBG-LIGHT-CLR: #FAF9F9; 
    --HIGHLIGHTBG-LIGHT-CLR: #FFE8E1;
    --BG-PERCENTAGE-CLR: #FFF3EF;
    --CLR-WHITE: #ffffff;
    --CLR-GREY: grey;
    --CLR-LIGHT-GREY: lightgrey;
    --HEADING-COLOR: #BA4717;


    /* || Font sizes */
    --FONT-XL: 35px;
    --FONT-L: 26px;
    --FONT-M: 18px;
    --FONT-S: 15px;
    --FONT-XS: 12px; 

}

/*  Scrollbar Styling start */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--LIGHT-CLR); 
    border-radius: 10px;
    height:20px;
  }

/*  Scrollbar Styling end */


.btn-color-orange{
    background-color: var(--LIGHT-CLR);
    color: var(--CLR-WHITE);
}


.btn-color-blue{
    background-color: var(--DARK-CLR);
}

.btn-color-blue-border{
    border: 1px solid var(--DARK-CLR);
    background-color: var(--CLR-WHITE);
    color: var(--DARK-CLR);
}

.enquiry-form{
    background-color: var(--LIGHT-CLR);
    color: var(--CLR-WHITE);
    padding: 35px;
}

#navbarSupportedContent{
    justify-content: flex-end;
    column-gap: 3rem;
}

#navbarSupportedContent .navbar-nav{
    column-gap: 3rem;
}

.navbar-ul{
    justify-content: space-around!important;
}

.nav-item .nav-link{
    font-size: calc( var(--FONT-M) * 1.1);
}



.hero-section-title{
    font-size: clamp(1rem, 8vw, 3.2rem);
}
.hero-section-text{
    background-image: url('./img/Background-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-section-inner-container{
    padding: 100px 0;
    row-gap: 1rem;
    background-image: linear-gradient(0deg, rgba(24, 55, 79, 0.6),
    rgba(24, 55, 79, 1));
    align-items: center;
}

.hero-section-title{
    border-bottom: 2px solid var(--LIGHT-CLR);
    margin-bottom: 70px;
}

.hero-adm{
    font-size: calc(var(--FONT-M) * 1.1);
}

.adm-sub-text{
    font-size: var(--FONT-M);
}



.margin-auto{
    margin-inline:auto;
}

input{
    margin:10px auto;
}

input::placeholder{
    color: var(--CLR-LIGHT-GREY);
}

.form-button{
    gap: 2rem;
}

.form-button .btn{
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--FONT-S);
    padding: 12px 0 !important;
}

.percentage-data{
    background-color: var(#FFF3EF);
    color: var(--LIGHT-CLR);
    font-size: calc(2* var(--FONT-XL) + 5px);
    font-weight: 800;
    margin-bottom: 0 ;
}

.percentage-container{
    background-color: var(--BG-PERCENTAGE-CLR);
    padding: 40px 0;
}

/* Explore programs -- Info and image section */


.exp-sec-heading-container{
    background-color: var(--DARK-CLR);
    color: var(--CLR-WHITE);
    font-weight: 700;
    padding: 1.4%;
    margin: 4% auto ;
}

.explore-program-section{
    width:90%;
    margin: 0 auto;
}

.exp-btns-container{
    margin: 0 auto;
    gap: 1rem;
}

.exp-btn{
    border-radius:20px;
    border-color: var(--CLR-GREY);
    background-color: var(--CLR-WHITE);
    color: var(--CLR-GREY);
}



.exp-btn:focus{
    background-color: var(--LIGHT-CLR);
    color: var(--CLR-WHITE);
    box-shadow: none;
}

.info-title{
    color: var(--HEADING-COLOR) ;
}

.color-blue{
    color: var(--DARK-CLR);
}

.info-sub-title{
    font-weight: 700;
}

.info-list{
    font-size: var(--FONT-S);
}

.info-img-container
{   display: flex;
    column-gap: 1.5rem;
}

.info-container{
    background-color: var(--INFOBG-LIGHT-CLR);
    width: 50%;
}

.img-container{
    width: 46%;
}

.img-container .img-fluid{
    height: -webkit-fill-available;
}

.img-container-2{
    width: 52%;
}


.info-small-container{
    width: 44%
}

.info-small-col{
    height: 47%;
    background-color: rgba(150, 209, 255, 0.12);
}


.elig-list li {
    list-style-type: none ;
    margin: 5px;
}


.courses-highlights{
    background: var(--HIGHLIGHTBG-LIGHT-CLR);
    width: 90%; 
}

.ch-main-container{
    row-gap:20px;
}

.ch-container{
    border: 1px solid var(--LIGHT-CLR);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px 0;
    width: 54%;
}


/* ||  Life at Campus section   */

.campus-gallery{
    width: 90%;
}

.campus-gallery-title{
    color: var(--DARK-CLR);
    font-weight: bold;
}

.carousel-control-prev, .carousel-control-next{
    display: none;
}

.carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-inline: 5px;
    border-color: transparent;
}

.carousel-inner{
    padding-bottom: 50px;
}

.carousel-indicators .active{
    background-color: var(--LIGHT-CLR);
}


/* ||  Recruiter Section */

.recruiters-section{
    width: 90%;
    margin: 40px auto;
}


/*  ||  Life at campus Section */

.life-at-campus-grid-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

.campus-image{
    width:100%;
    height: 100%;
}

.img-1-container{
    grid-column: span 2;
    grid-row: span 2;
}

.img-4-container, .img-5-container{
    grid-row: 3 / 4;
}
.img-6-container{
    grid-column: span 2;
    grid-row: span 2;
 
}







/* ||  BACKGROUND IMAGE WITH FORM */

.bg-form-section{
    margin: 50px 0;
    background-image: url(./img/campus-bg-img.jpg);
}

.bg-form-outer-container{
    padding: 80px 0;
}

.bg-form-main-container{
    background: var(--CLR-WHITE);
    padding: 40px;
    margin: 20px auto;
    border-top: 5px solid var(--LIGHT-CLR);
    color: var(--DARK-CLR)
};


.bg-form-heading{
    color: var(--DARK-CLR);
}

.form-buttons-2 {
    column-gap: 4.8rem;
    row-gap: 1rem;
}

.form-buttons-2 .btn{
    font-size: var(--FONT-S);
    padding: 10px 0!important;
    font-weight: bold;
}

.bg-sub-text{
    width: 55%;
    font-size: var(--FONT-M)
}

.bg-form-inner-container .form-control{
    width: 100%;
}



.landing-faq {
    padding: 50px 0px;
}

.landing-faq .faq-box {
    background-color: transparent !important;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 30px;
}

.landing-faq .faq-h {
    border: none;
    padding: 0px;
    align-items: center;
}

.landing-faq .faq-h p {
    font-weight: 600;
}

.landing-faq .faq-text {
    max-width: 80%;
    color: rgba(111, 108, 144, 1);
    padding: 10px 0 0 0;
}

.landing-faq .fa-solid {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 50%;
}

.landing-faq .slick-dots {
    margin-top: 30px !important;
}



/* 17.FAQs Section Start ------------------------------ */
.faqs {
    padding: 80px 0px;
    background: var(--th-bg-4);
}

.fa-head {
    background-color: var(--th-bg-1);
    color: var(--th-bg-3);
    text-align: center;
    padding: 10px 0px;
}

.faq-box {
    background: var(--th-bg-3);
    margin-top: 15px;
}

.faq-h {
    padding: 10px 30px;
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq-h p {
    margin: 0;
    text-transform: capitalize;
    font-size: var(--FONT-M);
}

.faq-text {
    display: none;
    padding: 20px;
}

.faq-text p {
    margin: 0;
}

/* ------------- FAQs Section End ------------- */








/* || FAQ SECTION  */


.faq-heading-title{
    text-align: center;
    color: var(--DARK-CLR);
    font-weight: bold;
}


.faqs-section{
    width: 60%;
}

.que-part{
    font-weight: bold;
}

.que-ans{
    position: relative;
    transform-origin: left top;
}

.fa-solid{
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 50%;
}

.que-ans .question .down-arrow{
    transform: rotate(-90deg);
}

.que-ans[open] .question .down-arrow{
    transform: rotate(0deg);
}


.question{
    padding: 20px;
    border: 1px solid var(--CLR-GREY);
    border-radius: 10px;
    margin: 20px auto;
    align-items: center;
}

.que-ans summary::marker{
    content: ''
}


details summary::-webkit-details-marker {
    display:none;
  }



.footer-section{
    background: var(--DARK-CLR);
    padding-bottom: 40px;
}

.social-col{
    display: grid;
    grid-template-columns: repeat(5, 41px);
    column-gap: 3px;
}





/*  ||    Input email and button*/


.footer-input{
    background: var(--CLR-WHITE);
    border: 0;
    border-radius: 10px;
    color: var(--CLR-WHITE);
    padding: 14px;
    width: 100%;
  }
  
  .footer-input:focus {
    outline: none;
  }
  
  .footer-input::placeholder {
    color: var(--CLR-GREY);
  }
  
  .footer-submit-btn {
    background: var(--LIGHT-CLR);
    border: 0;
    border-radius: 7px;
    color: var(--CLR-WHITE);
    padding: 10px;
    position: absolute;
    right: 5px;
    bottom: 14px;
  }
  
  .footer__submit {
    position: relative;
    display: inline-block;
    width: 70%;
  }





  /* 12.Footer Section Start ------------------------------ */
.footer {
    background-color: var(--DARK-CLR);
    padding: 50px 0px;
}

.subscribe-email::placeholder{
    color: var(--CLR-GREY)
}


.th-btn {
    background: var(--LIGHT-CLR);
    border: 0;
    border-radius: 7px;
    color: var(--CLR-WHITE);
    padding: 10px;

}

.footer .link-list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer .link-list ul {
    list-style: none;
}

.footer .link-list ul li {
    margin-bottom: 15px;
}

.footer .link-list ul li a .fa-brands{
    width: 15px;
}

.footer .link-list a {
    color: var(--CLR-WHITE);
    font-size: var(--FONT-M);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer .logo {
    max-width: 250px;
}

.footer .subscribe {
    margin-top: 100px;
    background-color: var(--CLR-WHITE);
    padding: 10px;
    border-radius: 10px;
}

.footer .subscribe input {
    width: 100%;
    border: none;
    outline: none;
}

.footer .loc {
    margin-top: 30px;
}

.footer .loc h6 {
    color: #999999;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.footer .loc a {
    color: #999999;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footers .footer .logo {
    margin: auto;
}
#footers .footer .link-list a {
    font-size: calc(18px*.8);
}

/* ------------- Footer Section End ------------- */


@media screen and (min-width: 769px) and (max-width: 1446px) {
    .form-button .btn, .form-buttons-2 .btn{
        font-size: calc(var(--FONT-M) * 0.7);
    }    
}



@media screen and (max-width: 768px){
    .percentage-container{
        flex-direction: column;
    }

    .form-button .btn{
        font-size: calc(var(--FONT-M) * 0.7);
    }   

    .form-buttons-2 .btn{
        font-size: calc(var(--FONT-S) * 0.8);
    }

    .form-buttons-2 .btn{
        width: 91%;
    }

    .info-img-container{
        flex-direction: column;
        width: 100%;
    }

    .bg-form-main-container{
        width: 95%;
        
    }

    .img-container, .img-container-2, .info-container, .bg-sub-text, .bg-form-inner-container .form-control{
        width: 100%;
    }
    .img-container, .img-container{
        height: auto;
    }

    .faqs-section{
        width: 90%;
    }

    .info-small-container{
        width: 100%;
        margin-top: 20px;
    }

    .info-small-col:nth-child(:first-child){
        padding: 20px 0 40px 0;
    }
    .info-small-col:nth-child(:last-child){
        padding-bottom: 20px;
    }
    .exp-btns-container{
        flex-direction: column;
    }

    .footer .link-list {
        justify-content: start;
        margin-top: 40px;
        gap: 30px;
    }

    .footer .subscribe {
        margin-top: 50px;
    }
   

}